/* Reset geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Corpo da página */
html, body {
    height: 100%; /* Define o corpo da página para ocupar 100% da altura */
}

body {
    display: flex;
    flex-direction: column;
    background-color: #f0f8ff; /* Fundo azul claro suave */
    color: #333; /* Texto em cinza escuro */
}

/* Main precisa crescer para preencher o espaço entre o header e o footer */
main {
    flex: 1; /* Faz o main crescer para ocupar o espaço entre o cabeçalho e o rodapé */
}

/* Cabeçalho */
header {
    background-color: #004080; /* Azul escuro */
    color: white;
}

/* Links no cabeçalho */
header nav a:hover {
    color: #ffffff; /* Branco no hover */
}

/* Hero Section */
.hero {
    background-color: rgba(248, 248, 245, 0.9); /* Fundo off-white translúcido */
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombras suaves */
}

.hero h1 {
    color: #013970; /* Azul escuro */
    font-size: 3rem;
}

.hero p {
    color: #666; /* Cinza suave */
}

.hero a {
    border: 2px solid #004080; /* Azul escuro na borda */
    color: #004080;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

.hero a:hover {
    background-color: #004080;
    color: #fff; /* Texto branco no hover */
}

/* Footer */
footer {
    background-color: #013365; /* Azul escuro */
    color: #ffffff;
    padding: 1rem;
    text-align: center;
    width: 100%;
    margin-top: auto; /* Empurra o rodapé para o final */
}
