@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
/* Reset geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Corpo da página */
html, body {
    height: 100%;
}

/* Estilo do corpo */
body {
    display: flex;
    flex-direction: column;
    background-color: #f0f8ff;
    color: #333;
}

/* Main cresce para preencher espaço entre header e footer */
main {
    flex: 1;
}

/* Container principal */
.container-principal {
    padding: 20px;
}

/* Layout da câmera e gráficos */
.content-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Câmera ao vivo */
.camera-container {
    margin-right: 20px;
}

#videoElement {
    width: 100%;
    width: 650px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Gráficos */
.chart-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #02407e;
    color: #fff;
    height: 100px;
    padding: 10px;
    
}

.nav-shark{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0;
    gap: 30px;
}

.nav-shark li{
    list-style-type: none;
}

.header h1 {
    font-size: 1.5rem;
    margin-bottom: 0;
    color: #ABDCFF;
    font-family: "Agdasima", sans-serif;
}

#chart-donut,
#chart-line {
    max-width: 400px;
    margin-bottom: 20px;
}

/* Sparkline Boxes */
.sparkboxes {
    display: flex;
    justify-content: space-between;
}

.sparkposition{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.camera-charts-position{
    display: flex;
    flex-direction: row;    
    justify-content: center;

}

.sparkboxes .box {
    flex: 1;
    padding: 10px;
    text-shadow: 0 1px 1px 1px #666;
    box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
    position: relative;
    border-radius: 5px;
}

.sparkboxes .box strong {
    display: block;
    color: #fff;
}

/* Cores dos gráficos */
.sparkboxes .box1 {
    background-image: linear-gradient(135deg, #ABDCFF 10%, #0396FF 100%);
}

.sparkboxes .box2 {
    background-image: linear-gradient(135deg, #2AFADF 10%, #4C83FF 100%);
}

.sparkboxes .box3 {
    background-image: linear-gradient(135deg, #FFD3A5 10%, #FD6585 100%);
}

/* Footer */
footer {
    background-color: #02407e;
    color: #ffffff;
    text-align: center;
    width: 100%;
}

/* Responsividade */
@media (max-width: 768px) {
    .content-layout {
        flex-direction: column;
        align-items: center;
    }

    .camera-container,
    .chart-container {
        max-width: 100%;
        width: 100%;
    }

    #chart-donut,
    #chart-line {
        max-width: 100%;
    }

    .sparkboxes {
        flex-direction: column;
        gap: 10px;
    }

    .sparkboxes .box {
        width: 100%;
    }
}
