/* Reset geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Corpo da página */
html, body {
    height: 100%;
    /* Define o corpo da página para ocupar 100% da altura */
}

body {
    display: flex;
    flex-direction: column;
    background-color: #f0f8ff;
    /* Fundo azul claro suave */
    color: #333;
    /* Texto em cinza escuro */
}

/* Main precisa crescer para preencher o espaço entre o header e o footer */
main {
    flex: 1;
    min-height: calc(100vh - 150px); /* Ajuste a altura com base no tamanho do header + footer */
    padding-bottom: 50px; /* Aumente o espaçamento inferior para evitar sobreposição com o footer */
}

/* Cabeçalho */
header {
    background-color: #004080;
    /* Azul escuro */
    color: white;
    padding: 0rem;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

/* Container principal */
.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

/* Layout da câmera e gráficos */
.content-layout {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* Camera ao vivo */
.camera-container {
    margin-right: 20px;
}

#videoElement {
    width: 100%;
    max-width: 450px; /* Diminua o valor para diminuir o tamanho da câmera */
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombras suaves */
}

/* Gráficos */
.chart-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chart-donut {
    width: 100%;
    max-width: 400px;
    height: auto; /* Altura automática para evitar problemas de sobreposição */
    margin-bottom: 20px;
}
.chart-line{
    width: 100%;
    max-width: 100px;
    height: auto; /* Altura automática para evitar problemas de sobreposição */
    margin-bottom: 20px;
}
/* Footer */
footer {
    background-color: #013365;
    /* Azul escuro */
    color: #ffffff;
    padding: 0rem;
    text-align: center;
    width: 100%;
    margin-top: 70px; /* Desce um pouco o footer para garantir espaço */
}

/* Responsividade */
@media (max-width: 768px) {
    .content-layout {
        flex-direction: column;
        align-items: center;
    }

    .camera-container, .chart-container {
        max-width: 100%;
        width: 100%;
    }

    #chart-donut, #chart-line {
        max-width: 100%;
        height: auto; /* Altura automática para dispositivos móveis */
    }
}
